<div class="cardMargin">
	 <div class="ui card">
		<div class="content">
			<div class="header">Weather Watcher</div>
			<div class="meta">Weather conditions and forecasts worldwide.</div>
			<p class="description justifyParagraph">
				<em>Weather Watcher</em> is an Angular 2 application that accesses weather condition and forecast information from <em>World Weather Online</em>.  
			</p>
			<p class="description justifyParagraph">
				Weather reports are produced from the closest weather station based on the value of the provided search argument.
			</p>
			<p class="description justifyParagraph">
				Search arguments can consist of a zip code, a city name, or a city name combined with a state, province, or region. 
			</p>
			<p class="description justifyParagraph">
				To learn more about the developer API, visit the World Weather Online web site at: <a href="https://developer.worldweatheronline.com/api/default.aspx" target="_blank">https://developer.worldweatheronline.com</a>.
			</p>
			
			<address>
				Any questions?<br/>
				Contact us @ <a href="mailto:jam3s8ell@gmail.com">jam3s8ell@gmail.com</a>
			</address>
		</div>
	</div>
</div>