<div class="ui raised segment">
    
    <form [formGroup]="weatherSearchFormGroup" 
          (ngSubmit)="onSubmit(weatherSearchFormGroup.value)"
          class="ui form">

      <div class="field">
	  <label for="searchInput">Weather Search</label>
		<div class="ui right labeled input">
			
			<input type="text" 
				   id="searchInput" 
				   placeholder="Enter zip code, city name, or city with state, province, or region"
				   [formControl]="weatherSearchFormGroup.controls['searchParam']">
			<div class="ui basic label"><i class="world icon"></i></div>

		</div>
      </div>
      <button type="submit" class="ui button" [ngClass]="{loading: loading}">Submit</button>
    </form>
	<div *ngIf="requiredValidationError" class="ui error message">Search parameter is required, please re-try.</div>
	<div *ngIf="serverValidationError" class="ui error message">The search parameter you entered is invalid, please re-try.</div>
	<div *ngIf="serverInternalError" class="ui error message">Our server is having trouble, please re-try.</div>
	<div *ngIf="readingUnavailableError" class="ui error message">Weather unavailable for this search parameter.</div>
</div>
